<div class="container">
  <h1>Bienvenido a AutoFirma</h1>

  <section>
    <p>En esta pantalla puede firmar electrónicamente ficheros que se encuentren en su disco duro.</p>
    <p>Cuando firma electrónicamente un fichero pueden incorporarse a este ciertos datos personales, entre los que pueden encontrarse su número de DNI, su nombre y apellidos o incluso información sobre su situación laboral si utiliza un certificado profesional. Consulte las políticas de seguridad y protección de datos de los receptores de los ficheros firmados antes de enviarlos o distribuirlos.</p>
    <p>A partir de este punto, no inserte o extraiga ninguna tarjeta inteligente o dispositivo criptográfico USB.</p>
  </section>

  <button>Seleccionar ficheros a firmar</button>
</div>
