html, body {
  // colour
  background-color: #eeeeee;
  color: #333333;

  // font
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;

  // margin
  margin: 0;
  padding: 0;

  // size
  height: 100%;
}

h1 {
  font-weight: normal;
}

p {
  margin: 0;
}
